[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
pytz = "==2018.4"
awesome-slugify = "==1.6.5"
pillow = "==5.1.0"
whitenoise = "==3.3.1"
redis = ">=2.10.5"
django-environ = "==0.4.4"
django-model-utils = "==3.1.1"
django-allauth = "==0.35.0"
django-crispy-forms = "==1.7.2"
django-redis = "==4.9.0"
djangorestframework = "==3.11.2"
coreapi = "==2.3.3"
djangorestframework-jwt = "==1.11.0"
django-taggit-serializer = "==0.1.7"
django-taggit = "==0.22.2"
django-cors-headers = "==2.3.0"
django-rest-auth = "==0.9.3"
gevent = "==1.2.2"
gunicorn = "==19.7.1"
"boto3" = "==1.6.2"
"psycopg2" = "==2.7.4"
raven = "==6.6.0"
django-storages = "==1.6.6"
django-anymail = "==2.2"
"argon2_cffi" = "==18.1.0"
Django = "==2.0.4"
django-debug-toolbar = "*"
django-extensions = "*"

[requires]
python_version = "3.5"
