.wrapper {
  @include boxBorder(no);
  width: 100%;
  max-width: $max-page-width;
  min-height: 300px;
  display: flex;
  margin: 120px auto;
  .column {
    min-width: 237px;
    min-height: 600px;
    padding-bottom: 3rem;
    &:last-child{
      width: 2fr;
      .profile {
        display: flex;
        align-items: center;
        padding: 2rem 7rem;
        margin-bottom: 1rem;
        .image {
          width: $profile-image-size;
          height: $profile-image-size;
          border-radius: 100%;
        }
        .user {
          display: flex;
          flex-direction: column;
          margin-left: 2rem;
          .username {
            font-size: $biggest-font-size;
            font-weight: 400;
          }
          .edit {
            font-size: $normal-font-size;
            text-decoration: none;
            color: $light-blue;
            padding-top: 4px;
          }
        }
      }
    }
    &:first-child{
      border-right: 1px solid #dbdbdb;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .tap-row {
      font-size: $big-font-size;
      cursor: pointer;
      border: none;
      padding: 1em 1.5rem;
      background-color: white;
      &:focus {
        outline: none;
      }
    }
    .active {
      font-weight: 600;
      border-left: 2px solid black;
    }
  }
}