.wrapper {
  max-width: $max-page-width;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  font-weight: 400;
  padding: 0 20px;
  padding-top: 90px;
  .profile {
    width: 100%;
    display: flex;
    // justify-content: center;
    align-items: center;
    min-height: 152px;
    margin: 30px auto;
    .column {
      width: 1fr;
      align-items: center;
      padding: 0 5em;
      display: flex;
      flex-direction: column;
      &:last-child{
        width: 2fr;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 0;
        padding: 0 0;
      }
      img {
        width: 10em;
        height: 10em;
        border-radius: 50%;
        margin-right: 2em;
        padding: 0 auto;
      }
      .row {
        width: 100%;
        display: flex;
        &:first-child{
          align-items: flex-start;
        }
        .name {
          font-size: 2em;
          font-weight: 300;
          color: rgba(0,0,0,0.87);
        }
        .button{
          @include boxBorder(yes);
          margin-left: 1.25em;
          margin-right: .25em;
          min-width: 9em;
          text-align: center;
          align-items: center;
          padding: .25em 0;
          max-height: 2em;
          font-weight: 600;
          color: $font-black;
          cursor: pointer;
        }
        .icon {
          cursor: pointer;
        }
        .text{
          padding: 1em 0;
          padding-bottom: 1.5em;
          margin-right: 2em;
          font-size: $normal-font-size;
          .text-number{
          font-weight: 600;
          padding-left: 5px;
          }
        }
        &:last-child {
          display: flex;
          flex-direction: column;
          font-size: $normal-font-size;
          font-weight: 600;
          .bio {
            padding-bottom: .25em;
          }
          .website {
            color: $dark-blue;
            cursor: pointer;
          }
        }
      }
    }
  }
  .tap {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    border-top: 1px solid #f0f0f0;
    .tap-column {
      font-size: $small-font-size;
      font-weight: 600;
      margin-top: -1px;
      color: rgba(0,0,0,0.87);
      padding-top: 10px;
      height: 100%;
      &:first-child {
        margin-right: 4em;
      }
    }
    .selected {
      border-top: 1px solid $font-black;
    }
  }
  .images {}
}
