.notification {
  position: relative;
  padding: 12px 16px 13px;
  min-height: 63px;
  display: flex;
  align-items: center;
  position: space-between;
  border-bottom: 1px solid #f0f0f0;
  .username {
    font-weight: 600;
  }
  .profile-image {
    width: $profile-image-size;
    height: $profile-image-size;
    border-radius: 100%;
  }
  .paragraph {
    color: #262626;
    display: block;
    display: -webkit-box;
    flex: 1 0 0%;
    line-height: 1.3;
    margin: 0 12px;
    min-width: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .two-line {
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 320px;
    height: $normal-font-size*$line-height*$lines-notification;
    margin: 0 12px;
    font-size: $normal-font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-notification;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .natural-time {
    font-size: $normal-font-size;
    color: rgba(0,0,0,0.54);
  }
  .image {
    width: auto;
    height: 34px;
  }
  .follow {
    @include blueButton();
    box-sizing: border-box;
    width: 68px;
    font-size: $normal-font-size;
  }
}